
	
	*{
		box-sizing: border-box;
	}
	#menu{
		text-align: center;
		margin-top: 20px;
		font-weight: bold;
		font-size: 30px;
		font-style: italic;
		
	}
	#Chicken{
		display: inline-block;
		border:2px solid black;
		margin-top: 40px;
		width: 500px;
		height: auto;
		background-color: gray;
		padding-left:10px;
		padding-bottom: 10px;
		margin-left: 20px;
		position: relative;
		overflow: hidden;

	}
	#Chicken-text{
		
		padding-top: 10px;
		font-size: 20px

	}
	.Chicken{

		direction: rtl;
		border: 2px solid black;
		background-color: #ffff00;
		padding-right: 20px;
		margin-left: 350px;
		font-size: 30px;
		font-weight: bold;
	}
	#beef{
		display: inline-block;
		border:2px solid black;
		margin-top: 20px;
		width: 500px;
		height: auto;
		background-color: gray;
		padding-left:10px;
		padding-bottom: 10px;
		margin-left: 20px;
		position: relative;
		overflow: hidden;

	}
	#beef-text{
		
		padding-top: 10px;
		font-size: 20px

	}
	.beef{

		direction: rtl;
		border: 2px solid black;
		background-color: #8b0000;
		padding-right: 20px;
		margin-left: 350px;
		font-size: 30px;
		font-weight: bold;
	}
	#sushi{
		display: inline-block;
		border:2px solid black;
		margin-top: 20px;
		width: 500px;
		height: auto;
		background-color: gray;
		padding-left:10px;
		padding-bottom: 10px;
		margin-left: 20px;
		position: relative;
		overflow: hidden;

	}
	#sushi-text{
		
		padding-top: 10px;
		font-size: 20px

	}
	.sushi{

		direction: rtl;
		border: 2px solid black;
		background-color: #adff2f;
		padding-right: 20px;
		margin-left: 350px;
		font-size: 30px;
		font-weight: bold;
	}

	@media (min-width: 992px) and (max-width: 1200px) {
		#sushi{
	 		width: 80%;
	 		margin-left: 10%;
	 	}
	 	.sushi{
	 		margin-left: 85%;
	 		text-align: center;
	 	}
	 	#Chicken{
	 		width: 80%;
	 		margin-left: 10%;
	 	}
	 	.Chicken{
	 		margin-left: 80	%;
	 		text-align: center;
	 	}
	 	#beef{
	 		width: 80%;
	 		margin-left: 10%;
	 	}
	 	.beef{
	 		margin-left: 85%;
	 		text-align: center;
	 	}
	}
	 @media (min-width: 768px) and (max-width: 991px){
	
	 	#sushi{
	 		width: 95%;

	 	}
	 	.sushi{
	 		margin-left: 85%;
	 		text-align: center;
	 	}
	 	#Chicken{
	 		width: 46%;
	 	}
	 	.Chicken{
	 		margin-left: 60%;
	 		text-align: center;
	 	}
	 	#beef{
	 		width: 46%;
	 	}
	 	.beef{
	 		margin-left: 65%;
	 		text-align: center;
	 	}
	 }
 @media (max-width: 767px){
 	#sushi{
 		display: block;
 		width: 80%;
 
 		margin-left: 10%;

 	}
 		.sushi{
	 		margin-left: 65%;
	 		text-align: center;
	 	}
 	#beef{
 		display: block;
 		width:80%;
 		margin-left: 10%;
 	}
 	.beef{
	 		margin-left: 65%;
	 		text-align: center;
	 	}
 	#Chicken{
 		display: block;
 		width: 80%;
 		margin-left: 10%;
 	}
 	.Chicken{
	 		margin-left: 60%;
	 		text-align: center;
	 	}

 }